body {
  font-family: Helvetica, Arial, Sans-serif;
  background-image: url(../images/extra_clean_paper.png);
  color: #333;
}

table {
  background-color: #CCFFFF;
  width: 400px;
  height: 100px;
  font-size: 20px;
}

table {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}

table.match .name, .source{
  text-align: center;
}

td, .name {
  text-align: left;
  font-weight: bold;
}

td, .score {
  text-align: right;
}

td, button {
  text-align: center;
  font-size: 20px;
}
