body {
  font-family: Helvetica, Arial, Sans-serif;
  background-image: url(../images/extra_clean_paper.png);
  color: #333;
}

table {
  width: 400px;
  height: 100px;
}

table, td {
  border-style: solid;
  border-width: 2px;
  border-color: blue;
}

td, .name {
  text-align: left;
}

td, .score {
  text-align: right;
}

td, button {
  text-align: center;
}
